
p{
  font-family: 'Mulish', sans-serif;
}
/* home section */

#Home{
  background-color: #ff7b54;
}
.container-fluid{
  position:relative;
  padding:2%;
}
/* .navbar{
  padding: 1.5% 10%;
} */
.nav-item{
  padding:0 18px;
  font-size: 1.2rem;
}
.navbar-brand{
  margin-left: 150px;
}

.square1{
    text-align: right;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 700;
    color: #ffd56b;
}
.square2{
    background-color:#ff7b54;
    margin-left:50px;
    text-align: right;

}
@media (max-width:695px) {
  .brand-img{
    float: right;
  }

}
.info{
  text-align:center;
      padding:5% 10%;

}

.img-fluid{
    padding:3% 10%;;
}


/* Sites section */
#Sites{
  padding:3% 15%;

}
.fa-tram{
  font-size: 3rem;
}

h2{
  font-family: 'Caveat', cursive;
  text-align: center;
  font-size: 2.3rem;
}
.card{
  border:2px solid #ff7b54;
}

/* Food section  */
#Food{
  padding:3% 15%;
  background-color: #ff7b54;
}


/* Contact Section */
#Contact{
  padding:2% 10%;
}
.contact-india{
  font-family: 'Brygada 1918', serif;
  text-align:left; 
}
